input{
    border-radius: 0 !important;
    /* border: none none 1px !important; */
    border-width: 0 0 2px !important;
    /* box-shadow: 0 4px 2px -2px !important; */
    /* box-sizing: 0 0 0 0 !important; */
}

/* input:focus{
    border-color: #4285f4 !important;
    box-shadow: 0 4px 2px -2px #4285f4;
} */